body {
  overflow: hidden;
  margin: 0px;
}

.btn-updown {
  position: absolute;
  top: 45%;
  right: 5px;
  float: right;
  display: block;
  z-index: 3;
}
.icon-btn {
  display: block;
  line-height: 40px;
  padding: 10px 10px;
  font-size: xx-large;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  /* letter-spacing: 2px; */
  text-align: center;
  position: relative;
  transition: all 0.35s;
}

.icon-up span {
  position: relative;
  z-index: 2;
}

.icon-up:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background: #b6d73c;
  transition: all 0.35s;
}

.icon-up:hover {
  color: #fff;
}

.icon-up:hover:after {
  height: 100%;
}
.icon-up:hover:disabled:after {
  background-color: #ea6b22;
}
.icon-up:disabled {
  background-color: #ea6b22;
}

.nav-menu {
  list-style-type: none;
  position: absolute;
  top: 3px;
  float: right;
  right: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.nav-menu2 {
  list-style-type: none;
  position: absolute;
  float: right;
  top: 0;
  right: 0;
  margin: 0;
  height: auto;
  padding: 0;
  z-index: 3;
}
.nav-over-lay {
  z-index: 0 !important;
}

@media only screen and (min-width: 800px) {
  .menu {
    float: left;
  }
  .container {
    display: none;
  }
  .show .menu {
    rotate: 90deg;
  }
}

.menu {
  /* float: left; */
  /* display: block; */
  /* margin-top: 4px; */
  transition: 0.4s;
}
.show .menu {
  transform: translate(0, 20px) rotate(-90deg);
}

.option {
  line-height: 30px;
  float: right;
  padding: 5px;
  font-size: larger;
  font-weight: bold;
  margin: 5px 5px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  /* letter-spacing: 2px; */
  text-align: center;
  position: relative;
  transition: all 0.35s;
}

.option span {
  position: relative;
  z-index: 2;
}

.option:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  background: #86a02a;
  transition: all 0.35s;
}

.option:disabled {
  background: #ea6b22;
}
.option:hover {
  color: #fff;
}

.option:hover:after {
  height: 100%;
  width: 100%;
}
.option:hover:disabled:after {
  background-color: #ea6b22;
}
.selected {
  background-color: #dcff5f !important;
}

/* Drop Down Menu Button  */
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
.container {
  right: 0;
  line-height: 30px;
  float: right;
  padding: 5px;
  font-size: larger;
  font-weight: bold;
  margin: 5px 5px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  /* letter-spacing: 2px; */
  background-color: #fff;
  position: relative;
  text-align: center;
}

section {
  position: absolute;
  left: 5px;
}
h1 {
  font-size: xx-large;
  font-weight: bold;
  margin: 10px 0px;
  font-family: sans-serif;
  text-align: left;
}
p {
  max-width: 80vw;
  background: #45454577;
  opacity: 0.6;
  color: white;
  font-size: larger;
  font-weight: bold;
  margin: 10px 0px;
  font-family: sans-serif;
  text-align: left;
}
